.questions-box {
    .question-title{
        font-family: ploniMedium;
        font-size: 25px;
    }
  .question {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .question-data {
      margin: 20px;
      width: 60%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      .image-box-mobile{
        display: none;
        width: 200;
    }
      .answers {
        width: 100%;
        .answer {
          background-color: rgba(89, 131, 117, 0.127);
          height: 50px;
          width: 100%;
          border-radius: 10px;
          padding: 5px;
          padding-right: 10px;
          margin: 20px 0;
          font-family: ploniMedium;
          font-size: 20px;
          color: #104437;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .correct {
          border: 5px solid #1f5d4d;
          transition: border-width 0.2s linear;
        }
      }
    }
  }
  .question-image {
    margin: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .image-box{
        img{
            width: 400px;
            height: 250px;
            margin: 20px 0;
            cursor: pointer;
        }
    }
    .actios{
        display: flex;
        .nav-btn{
            width: 30px;
            height: 30px;
            cursor: pointer;
            background-color: #1044371f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            border-radius: 3px;

        }
        .show-btn{
            height: 30px;
            cursor: pointer;
            background-color: #1044371f;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 10px;
            padding: 6px;
            border-radius: 3px;
            width: 100px;
        }
    }
    .ranks{
        display: flex;
        .rank{
            opacity: 0.5;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px 5px;
            width: 50px;
            height: 50px;
            border: 3px solid rgb(82, 126, 119);
        }
    }

  }

  @media screen and (max-width: 720px) {
    .question{
        flex-direction: column-reverse;
        .question-data{

            .image-box-mobile{
                display: block;
                img{
                    height: 100px;
                    width: 200px;
                }
            }
        }
    }
    .question-image{
        flex-direction: column-reverse;
        .image-box{
            display: none;
        }
    }
 
  }
}
