.find-question {
    position: relative;
.search-form{
    display: flex;
    padding: 15px;
    align-items: flex-start;
    justify-content: flex-start;
    button{
        margin-right: 10px;
    }
}
}
