<div class="find-question">
    <form class="search-form" dir='rtl'>
        <mat-form-field  class="example-full-width" >
            <mat-label>מספר שאלה</mat-label>
            <input min="0" max="1803" [(ngModel)]="questionNum" type="text" name="question-num"  matInput>
        </mat-form-field>
        <!-- <button (click)="findQuestion()" mat-raised-button>חפש</button> -->
    </form>
    <questions-box (moveQuestion)="moveQuestion($event)" [question]="data[questionNum-1]"></questions-box>

</div>